{% load markup %}
{% load getresponse %}

{% getquestionresponse question as response %}

<div class="cases">
    <div class="casecontent">
        <div class="casequestion panel panel-default">
            <div class="casequestiontext panel-heading">
                {{question.text|markdown}}
                {% if question.answerable %}
                    {% if question.is_single_choice %}
                        {% include 'quizblock/single_choice.html' %}
                    {% endif %}

                    {% if question.is_single_choice_dropdown %}
                        {% include 'quizblock/single_choice_dropdown.html' %}
                    {% endif %}

                    {% if question.is_multiple_choice %}
                        {% include 'quizblock/multiple_choice.html' %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
