{% load quizsummary %}
{% load i18n %}
{% with cls="assessment" %}

    {% get_quiz_summary user cls as results %}

    {% for topic in results %}
        {% ifchanged topic.passed %}
            {% if topic.passed %}
                <h3>Related Videos</h3>
            {% else %}
                <h3>Recommended Videos</h3>
            {% endif %}
        {% endifchanged %}

        <div>{{topic.explanation|safe}}</div>
    {% endfor %}

    {% if user.is_superuser %}
        <h3>Superusers Only</h3>
        <ul>
        {% for topic in results %}
            <li>{{topic.title}} | {{topic.score}} | {{topic.passed }}</li>
        {% endfor %}
        </ul>
    {% endif %}

{% endwith %}