{% load quizsummary %}
{% load i18n %}
{% with cls="assessment" %}

    {% get_quiz_summary user cls as results %}

    {% for topic in results %}
        {% ifchanged topic.passed %}
            {% if topic.passed %}
                <h3>Other Videos</h3>
            {% else %}
                <h3>Recommended Videos</h3>
                <div><p>Based on this diagnostic quiz we recommend you watch the following videos.</p></div>
            {% endif %}
        {% endifchanged %}

        <div>{{topic.explanation|safe}}</div>
    {% endfor %}

{% endwith %}